body {
  background-color: white;
}
h1 {
  text-align: center;
font-family: 'advent pro';

}
h2{
  font-family: 'advent pro';
}
.overskriv {
  border-style: solid;
  border-color: black;


}

.inspriration {

  border-style: solid;
  border-color: black;
  background-color: #e84a5f;
  margin: 0 50px 0 50px;
  h2{
    margin: 25px 0 0 50px;;
  }
  h3{
    margin: 50px 0 0 50px;

  }
  a {
    background-color: #444444;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 5px 50px;
    display: inline-block;
  }
  .kategorerbar{
      display: flex;
    flex-flow: column;
    a {
      background-color: #444444;
      color: honeydew;
      padding: 10px 30px;
      cursor: pointer;
      margin: 5px 50px;
      padding: 4px;
    }
  }
}
.map {
  border-style: solid;
  border-color: black;
  background-color: #f6ec8d;
  display: flex;
  justify-content: center;
  a{
    background-color: #444444;
    color: white;
    padding: 10px 30px;
    color: #e84a5f;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 5px 50px;
  }
}
.soegningkrap{
  display: flex;
  justify-content: flex-end;
  a{
    background-color: #444444;
    color: white;
    padding: 10px 30px;
    color: #e84a5f;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 5px 50px;
    display: inline-block;


  }
}




  //grid//
@supports (grid-area: auto) {
  @media screen and (min-width: 600px){

  .gridinspiration {
    display: grid;
    grid-template-columns: 66% 33%;
    grid-template-areas: "overskriv overskriv"
                          "bar map"
                        "soegningkrap .";
  }

  .overskriv {
    grid-area: overskriv;
  }
  .inspriration {
    grid-area: bar;

  }
  .map {
    grid-area: map;

  }
  .soegningkrap {
    grid-area: soegningkrap;

  }
}}